<h1><%= @food_type.name %> Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <ul>
  <%= link_to restaurant.name, restaurant %><br>
  </ul>
<% end %>

<%= link_to "Add New Restaurant", new_food_type_restaurant_path %>
