<h1><%= @food_type.name %> Restaurants</h1>

<%= render partial: "restaurants/restaurants", locals: {restaurants: @restaurants} %>

<%= link_to "Add Restaurant", new_food_type_restaurant_path(@food_type) %><br>

