<h1> Welcome <%= @user.username %> </h1>

<h3>Here Are Your Restaurants</h3>

<%= render partial: "restaurants/restaurants", locals: {restaurants: @restaurants} %>

<%= link_to "Edit Account", edit_user_path %>

