<header>
  <h1>Create a New Restaurant for Your List </h1>
</header>


<%= render partial: "restaurants/form", locals: {restaurant: @restaurant} %>

<%# delete this and just us the new form for restaurant. remove route from controller %>