<% if @restaurant.errors.any? %>
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<h1>Add a New Restaurant</h1>

<br>

<%= render 'form' %>
