<% if @restaurant.errors.any? %>
    <ul id="errors">
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<header>
  <h1>Add a New Restaurant</h1>
</header>

<br>

<%= render 'form' %>
